DATABASE_URL="mysql://root:r00t14789632@localhost:3306/ferrari"

JWT_SECRET="BTpcUs{4..E0F?$h"
JWT_EXPIRE=604800

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=ferrarihcodelab@gmail.com
MAIL_PASS="1a0!v/YNk/*Ex>$#"
MAIL_FROM=ferrarihcodelab@gmail.com

TYPEORM_CONNECTION = mysql
TYPEORM_HOST = localhost
TYPEORM_USERNAME = root
TYPEORM_PASSWORD = r00t14789632
TYPEORM_DATABASE = ferrari
TYPEORM_PORT = 3306
TYPEORM_SYNCHRONIZE = true
TYPEORM_LOGGING = false
TYPEORM_MIGRATIONS_DIR = "typeorm/migration"