<p>Olá #{name}</p>

<p>Por favor, acesse o link abaixo para recuperar a sua conta e redefinir a senha:</p>

<p>Se desejar copie e cole o endereço no seu navegador.</p>

<p><a href="#{url}">#{url}</a></p>

<p>Se você não solicitou este e-mail, por favor ignore-o.</p>

<p>Ferrari Hcode Lab</p>